@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendas de Carros</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>

    <section class="banner">
        <img src="img/chevrolet-onix.jpg" alt="Carro em destaque">
        <h2>Descubra seu próximo carro hoje!</h2>
        <a href="/Carro/Carros" class="btn">Ver Carros</a>
    </section>

    <section id="carros" class="carros-destaque">
        <h2>Carros em Destaque</h2>
        <div class="carro">
            <img src="img/creta2025.webp" alt="Modelo 1">
            <h3>Novo Hyundai Creta 2025 Limited</h3>
            <p>O Creta 2025 segue ainda com o motor Kappa 1.0 Turbo GDI Flex, que tem uma potência de 120 cv a 6.000 rpm, tanto para etanol quanto para gasolina.</p>
            <p>Preço: R$ 156.490</p>
            <a href="/Carro/Carros" class="btn">Saiba Mais</a>
        </div>
        <div class="carro">
            <img src="img/nivus_grade_frontal.webp" alt="Modelo 2">
            <h3>Volkswagen Nivus</h3>
            <p>Suas linhas ficaram mais harmônicas e receberam um toque de agressividade na medida certa para combinar com as novas rodas aro 17”, faróis e lanternas em LED.</p>
            <p>Preço: R$ 119.990</p>
            <a href="/Carro/Carros" class="btn">Saiba Mais</a>
        </div>
    </section>

  
</body>
</html>
